@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.blogs {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview{
  padding: 1vw 1.5vw;
  margin: 2vw 0;
  border-bottom: 0.14vw solid #ff80c4;
  background:no-repeat;
  background-position-x: right;
  background-position-y: center; 
  background-size: 25%;
  padding-top: 3%;
  padding-bottom: 5%;
  /* background-size: cover;  */
}

.blog-preview:hover {
  box-shadow: 0.5vw 1vw 2vw #ffff80;
  border:0.14vw solid #ffff80;
}

.blog-preview h2{
  color: #ff80c4;
  margin-bottom: 0.5vw;
  
}


.blog-preview a{
  text-decoration: none;
  
}

.blog-details div{
  
  margin-bottom: 1.75vw; 
  
}

.blog-title{
  margin-top: 2%;
  text-align-last: center;
  
}

.blog-written{
  margin-left: 15%;
  margin-top: 2%;
  font-family: "Quicksand";
  font-size: 20px;
}

.blog-details div{
  margin: 1.3vw 0;
  
}

.blog-content{
  margin-left: 10%;
  margin-right:10%;
}

.blog-details button{
  background: #ff80c4;
  color: #ffffff;
  border: 0;
  padding: 1.2vw;
  border-radius: 1.2vw;
  cursor: pointer;
}
.create {
  max-width: 65vw;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  
}
.create h2 {
  font-size: 35px;
  color: #ff80c4;
  margin-bottom: 30px;
  margin-top: 5%;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 1vw 3vw;
  margin: 1.2vw 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #ff80c4;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-ingredients{
  white-space: pre-line;  
 vertical-align: bottom;
 padding-bottom: 50px ;
}
.blog-instructions{
  white-space: pre-line;  
  vertical-align: bottom;
}
.delete {
  margin-bottom: 3%;
  float: right;
}
.loading{
  text-align: center;
padding-top: 16.5%;
padding-bottom: 16.5%;
font-size: 50px;
}
.add-blog{
  margin-bottom: 3%;
}
.FinalProduct {
  position: relative;
  float: right;
  /* top: 35px; */
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 24vw;
  max-width: 100%;
  height: 320px;
  max-height: 100%;
  border: 5px solid #ff80c4;
  transition: all 0.2s linear;
  border-radius: 10%;
  margin-right: 5%;
}

.instructions-text{
  color: #333;
}

@media screen and (max-width: 620px) {
  .FinalProduct 
  {
    margin-top: 23%;
    position:static;
    height: 50%;
    width: 50%;
    margin-right: 0%;
  }
}

.not-found{
  margin: auto;
  text-align: center;
  width: 50vw;
  margin-top: 16%;
  margin-bottom: 15%;
  color: #ff80c4;
  text-decoration: #ffff80;
}


.socials{
  display: flex;
  float: left;
  position: relative;
  top: -5px;
  margin-left: 3%;
  right: 3%;
  
}

.social{
  margin-right: 5%;
  border-radius: 20%;

}

.social:hover {
  border-bottom: 4px solid #ff80c4;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #ff80c4;
  transform: scale(1.5);
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 960px) {
  .socials {  
  right: 9%;
  top: -17px;  
  margin-left: 10%;
}
}

.filterRecipes{
  text-align: center;
  font-size: 35px;
  margin-left: 10%;
  margin-bottom: 3%;
  color: #ff80c4;
  border: 4px solid #ff80c4;
  border-radius: 25px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.toggleMeasurment{
  border-color: #ff80c4;
  border: 4px solid #ff80c4;
  text-align: center;
  border-radius: 19%;
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background: #ff80c4;
  color: white;
  margin-bottom: 3%;
  float: left;
}